---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Newsletter from "../components/Newsletter.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import { SITE } from "../config";

import { Plausible } from "astro-analytics";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ButtonSecondary from "../components/ButtonSecondary.astro";
import Layout from "../layouts/Layout.astro";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description = "The perfect starter for your perfect blog.";
let permalink = "https://example.com/";

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob("./posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />

    <Plausible domain="fueledbymatcha.com" />
  </head>

  <body class="font-body">
    <Hero
      heading="wagemut"
      announcement=""
      quote1="1. the act of stepping outside one's comfort zone and taking bold action"
      quote2="2. developer collective imagining a braver and better world"
    />
    <div class="gap-5 mx-auto my-20 lg:max-w-2xl">
      {allPosts.map((p) => <BlogPostPreview post={p} />)}
    </div>
  </body>
</html>
