---
import Announcement from "./Announcement.astro";
import ButtonPrimary from "./ButtonPrimary.astro";
import ButtonSecondary from "./ButtonSecondary.astro";

export interface Props {
  heading: string;
  subheading: string;
  announcement: string;
}
const { heading, quote1, quote2 } = Astro.props;
---

<div class="max-w-4xl pt-36 mx-auto sm:pt-48 text-center">
  <!-- <Announcement announcement="asdfasdf" /> -->

  <h1
    class="font-bold tracking-tight sm:text-8xl text-6xl font-display underline decoration-primary-500"
  >
    {heading}
  </h1>

  <span
    class="align-top text-center text-xl font-semibold tracking-widest italic my-8 block leading-8"
  >
    [ noun, German ]</span
  >

  <p class="mt-6 sm:text-4xl leading-8 text-center text-gray-800 mx-auto">
    {quote1}
  </p>
  <p class="mt-6 sm:text-4xl leading-8 text-center text-gray-800">
    {quote2}
  </p>
</div>
